:root {
  --color-green: #006984;
  --color-blue: #0054a2;
  --color-black: #121212;
  --color-gray: #e6e8ea;

  --color-link: var(--color-blue);
  --color-selection-bg: var(--color-blue);
  --color-selection-color: var(--color-gray);
}

html {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-black);
  background-color: var(--color-gray);
}

a {
  text-decoration: none;
  color: var(--color-link);
  text-underline-offset: 0.3em;
  text-decoration: underline var(--color-link);
  text-decoration-thickness: 0.15em;
}

a:hover {
  color: inherit;
}

::selection {
  background: var(--color-selection-bg);
  color: var(--color-selection-color);
  text-shadow: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-top: 0;
}

h1,
h3 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

h3 {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

small {
  font-size: 0.8em;
}

img {
  display: block;
  width: 100%;
}

a[href^="http"]::after {
  content: "↗";
}

.content,
.header {
  font-weight: 400;
  width: 92%;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
